.react-workspace-apps-editor.container(style="width: 100vw; height: 100vh;")
    mixin editor_tab_app()
        .card.card-sm.mb-3
            .card-body
                label.form-label(style="font-family: 'MAIN-EB'") Title
                input.form-control(type="text" ng-model="app.data.package.title")
        .card.card-sm.mb-3
            .card-body
                label.form-label(style="font-family: 'MAIN-EB'") View
                select.form-select(ng-model="app.data.package.view")
                    option(ng-repeat="item in browse.data" value="{{item.package.component}}") {{item.package.component}}
        .card.card-sm.mb-3.card-package-json
            .card-body
                .btn.btn-light(ng-click="modal.yarn()") package.json
        .hr.bg-white.mt-3.mb-3
        .tree-container
            +editor_tab_browse

    mixin editor_tab_browse()
        .input-icon.mb-3
            input.form-control#search(type="text" placeholder="Search" style="color: #545d6d !important;" ng-model="browse.searchvalue" ng-change="browse.search(browse.searchvalue)" autocomplete='off')
            span.input-icon-addon
                svg.icon(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round")
                    path(stroke="none" d="M0 0h24v24H0z")
                    circle(cx="10" cy="10" r="7")
                    line(x1="21" y1="21" x2="15" y2="15")

        .root-tree.mb-1(ng-repeat="item in browse.data" ng-class="{active: item.package.component==app.current}" ng-click="browse.select(item)" ng-if="!item.hide")
            .root-title
                table
                    tr
                        td.w-1(style="vertical-align: top;")
                            i.fas.fa-code.mr-2
                        td(style="line-height: 1;")
                            span {{item.package.path.length==0?"":(item.package.path+"/")}}
                            span {{item.package.component}}
                        
        a.root-tree.mb-1(ng-click="modal.add_component()")
            .root-title.text-center.p-1.text-white
                i.fas.fa-plus.mr-2
                span Create New Component

    mixin codearea(tab)
        div(style="overflow: hidden; height: 100%; width: 100%;" ng-click="app.tab.active('{$tab$}')" ng-if="app.editor.viewstate && layout.accessable_tab.includes('{$tab$}')" ng-cloak)
            .code-select.bg-dark.d-flex(style="margin-top: -2px;")
                .btn.btn-square.btn-sm.p-2(ng-repeat="code in app.editor.code.list" ng-click="app.editor.code.change('{$tab$}', code.id)" ng-class="configuration.tab.{$tab$}_val == code.id ? 'btn-white' : 'btn-dark'") {{code.name}}
                select.form-select.form-select-sm.m-1.mr-0.ml-auto(ng-if="configuration.tab.{$tab$}_val == 'dic'" style="width: 60px;" ng-model="configuration.tab.{$tab$}_language")
                    option(ng-repeat="(key, value) in app.data.dic" value="{{key}}") {{key}}
                .btn.btn-square.btn-dark.btn-sm.p-2(ng-if="configuration.tab.{$tab$}_val == 'dic'" ng-click="modal.add_language()")
                    i.fas.fa-plus

            div(style="height: calc(100% - 36px);")
                div(ng-if="['preview', 'dic'].includes(configuration.tab.{$tab$}_val) == false" ng-model="app.data[configuration.tab.{$tab$}_val]" ui-monaco-opts="app.editor.properties['{$tab$}']" ui-monaco)
                div(ng-if="configuration.tab.{$tab$}_val == 'dic'" ng-model="app.data[configuration.tab.{$tab$}_val][configuration.tab.{$tab$}_language]" ui-monaco-opts="app.editor.properties['{$tab$}']" ui-monaco)

                .code-preview(ng-if="configuration.tab.{$tab$}_val == 'preview'" style="max-width: none; width: 100%; height: 100%;")
                    iframe.preview(ng-show="app.preview.status")
                    table(ng-if="!app.preview.status" style="width: 100%; height: 100%;")
                        tr
                            td(style="text-align: center; vertical-align: middle;")
                                .spinner-grow.text-dark(style="width: 120px; height: 120px;")

                div(ng-if="app.tab.activetab != '{$tab$}' && ['preview'].includes(configuration.tab.{$tab$}_val) == false" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(0,0,0,.05); z-index: 9999;")

    .display-none(style="display: none;")
        input#import-file(type="file" accept=".json,application/json")

    .bg-dark.text-center(ng-if="loading.status" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 99999; padding-top: 40vh; opacity: .6;")
        .spinner-grow.text-white(style="width: 60px; height: 60px;")

    .fixed-top
        header.navbar.navbar-expand-md.navbar-dark
            .container(style="max-width: none;")
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar-menu')
                    span.navbar-toggler-icon

                .navbar-brand.navbar-brand-autodark.d-none-navbar-horizontal.pr-0.pr-md-3
                    table(style='color: #d7e0fd; cursor: pointer;')
                        tr
                            td.p-3.pb-0.pt-1.pr-1
                                img(src='/resources/wiz/plugin/theme/img/wiz-font.png' style='height: 18px; margin-top: 12px;')
                                img(src='/resources/wiz/plugin/theme/img/logo-sym.png' style='height: 28px; margin-left: 8px;')
                            td
                                h3.m-0.p-0(style="margin-top: 24px !important;") App Editor

                #navbar-menu.navbar.navbar-collapse.collapse
                    ul.navbar-nav
                    .navbar-nav.flex-row.order-md-last.mr-2(style="align-items: center;")
                        li.nav-item.p-0.pr-2
                            .text-center
                                .layout-selector.p-2(ng-class="layout.active_layout == 1 ? 'active' : ''" ng-click="layout.change(1)")
                                    .layout-icon
                                        .layout-row
                                            .layout-column

                                .layout-selector.p-2(ng-class="layout.active_layout == 2 ? 'active' : ''" ng-click="layout.change(2)")
                                    .layout-icon
                                        .layout-row
                                            .layout-column
                                            .layout-column

                                .layout-selector.p-2(ng-class="layout.active_layout == 3 ? 'active' : ''" ng-click="layout.change(3)")
                                    .layout-icon
                                        .layout-row
                                            .layout-column
                                            .layout-column
                                            .layout-column
                        li.nav-item.p-0.pr-2
                            a.nav-link.btn.btn-sm.text-dark.btn-white.btn-pill(ng-click="modal.keymaps()" style="font-size: 14px;")
                                i.fas.fa-keyboard

                        li.nav-item.p-0.pr-2
                            a.nav-link.btn.btn-sm.text-dark.btn-white.btn-pill(ng-click="import_file()" style="font-size: 14px;")
                                i.fas.fa-upload

                        li.nav-item.p-0.pr-2
                            a.nav-link.btn.btn-sm.text-dark.btn-white.btn-pill(ng-href="/wiz/export/{{mode}}/{{ app.id }}" target="_blank" style="font-size: 14px;")
                                i.fas.fa-download

                        li.nav-item.p-0.pr-2
                            a.nav-link.btn.btn-sm.text-dark.btn-white.btn-pill(ng-click="app.clean()")
                                span.nav-link-title(style="font-size: 14px;") ReBuild All

                        li.nav-item.p-0.pr-2
                            a.nav-link.btn.btn-sm.text-dark.btn-white.btn-pill(ng-click="modal.delete()")
                                span.nav-link-title(style="font-size: 14px;") Delete

                        li.nav-item.p-0.pr-2
                            a.nav-link.btn.btn-sm.text-dark.btn-white.btn-pill(ng-click="app.save()")
                                span.nav-link-title(style="font-size: 14px;") Save

                        li.nav-item.p-0
                            a.nav-link.btn.btn-sm.text-dark.btn-white.btn-pill(ng-href='/wiz/admin/react.workspace/{{mode}}s/list')
                                span.nav-link-title.bold(style="font-size: 14px;")
                                    i.fas.fa-times
    
    div(split-pane data-split-pane-properties="layout.viewstate.root")
        .bg-dark(data-split-pane-component data-width="270px")
            .menu-layout.p-3
                +editor_tab_app
                .hr.bg-white
        div(data-split-pane-divider data-width="0px")
        #editor-area(data-split-pane-component)
            div(data-split-pane data-split-pane-properties="layout.viewstate.vertical_1_1")
                div(data-split-pane-component data-width="34%")
                    +codearea('tab1')
                div(data-split-pane-divider data-width="3px")
                div(data-split-pane-component data-width="66%")
                    div(data-split-pane data-split-pane-properties="layout.viewstate.vertical_1_2")
                        div(data-split-pane-component data-width="50%")
                            +codearea('tab2')
                        div(data-split-pane-divider data-width="3px")
                        div(data-split-pane-component data-width="50%")
                            +codearea('tab3')

    #modal-add-language.modal.fade(tabindex="-1")
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-body
                    .modal-title Add Language
                    .p-4
                        input.form-control(type="text" placeholder="ko" ng-model="modal.add_language.lang" autocomplete='off')
                .modal-footer
                    button.btn.btn-link.link-secondary.mr-auto(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-dark(type='button' ng-click="app.editor.code.dic.add(modal.add_language.lang)") Add

    #modal-delete.modal.fade(tabindex="-1")
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-body
                    .modal-title Delete
                    div Once deleted, it cannot be restored. Are you sure you want to delete?
                .modal-footer
                    button.btn.btn-link.link-secondary.mr-auto(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-danger(type='button' ng-click="app.delete()") Delete

    #modal-delete-file.modal.fade(tabindex="-1")
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-body
                    .modal-title Delete
                    div Once deleted, it cannot be restored. Are you sure you want to delete?
                .modal-footer
                    button.btn.btn-link.link-secondary.mr-auto(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-danger(type='button' ng-click="framework.delete()") Delete

    #modal-add-component.modal.fade(tabindex="-1")
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-body
                    .modal-title New Component
                    .p-1
                        input.form-control(type="text" placeholder="App" ng-enter="app.component.add()" ng-model="modal.add_component_name")
                .modal-footer
                    button.btn.btn-link.link-secondary.mr-auto(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-dark(type='button' ng-click="app.component.add()") Add

    #modal-keymaps.modal.fade(tabindex="-1")
        .modal-dialog(role='document' style="max-width: 720px;")
            .modal-content
                .modal-header
                    .modal-title Shortcuts
                .modal-body.m-0
                    table.table.table-bordered.table-hover
                        thead
                            th.text-center Shortcut
                            th.text-center Description
                        tbody
                            tr
                                th.text-center
                                    button.btn.btn-sm.btn-dark Ctrl(CMD)
                                    i.fas.fa-plus.ml-1.mr-1
                                    button.btn.btn-sm.btn-dark S
                                td.text-center Save
                            tr
                                th.text-center
                                    button.btn.btn-sm.btn-dark Alt
                                    i.fas.fa-plus.ml-1.mr-1
                                    button.btn.btn-sm.btn-dark T
                                td.text-center New Component
                             tr
                                th.text-center
                                    button.btn.btn-sm.btn-dark Alt
                                    i.fas.fa-plus.ml-1.mr-1
                                    button.btn.btn-sm.btn-dark A, S
                                td.text-center move previous/next code view
                            tr
                                th.text-center
                                    button.btn.btn-sm.btn-dark Alt
                                    i.fas.fa-plus.ml-1.mr-1
                                    button.btn.btn-sm.btn-dark F
                                td.text-center Find Widgets (in widgets tab)
                .modal-footer
                    button.btn.btn-link.link-secondary.ml-auto(type='button' data-dismiss='modal') Cancel

    #modal-yarn.modal.fade(tabindex="-1")
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-body
                    .modal-title package.json
                    a(href="https://www.npmjs.com/search?q=react" target="_blank") 패키지 검색
                    .p-1(ng-repeat="(key, dep) in yarn.package")
                        h3
                            span {{key}}
                        table.table.table-bordered.table-hover
                            colgroup
                                col
                                col(style="width: 110px;")
                                col(style="width: 100px;")
                            thead
                                th.text-center Package
                                th.text-center Version
                                th.text-center Action
                            tbody
                                tr(ng-repeat="pkg in dep")
                                    th {{pkg[0]}}
                                    td {{pkg[1]}}
                                    td
                                        span &#128316;
                                        span(ng-click="yarn.remove(pkg[0], key)") &#10060;
                .modal-footer
                    .mr-auto
                        label yarn add
                        label
                            input(type="checkbox" ng-model="yarn.add_dev")
                            | -D
                        input(type="text" placeholder="react" ng-model="yarn.package_name")
                        button.btn.btn-secondary(ng-click="yarn.add()") execute
                    button.btn.btn-dark(type='button' ng-click="modal.yarn('hide')") Close
